.list {
    margin-bottom: 25px;

    .add-list__button {
      opacity: 0.5;
      transition: all 0.1s ease;
      
      &:hover {
        opacity: 1;
      }
    }

    li {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      margin-bottom: 2px;
      cursor: pointer;

      &.active {
        background: #FFFFFF;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
      }

      .badge {
        position: relative;
        left: 3px;
      }

      i {
        display: inline-flex;
        margin-right: 8px;

        svg {
          fill: #7c7c7c;
        }
      }
    }
  }
