// reset styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  width: 750px;
  height: 530px;
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: 1px 2px 20px #ebebeb;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  font-size: 14px;
  transform: translate(-50%, -50%);

  &__sidebar {
    width: 200px;
    height: 100%;
    background-color: #f4f6f8;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }
}

.button {
  background: #4dd599;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;

  &:hover,
  :focus {
    background-color: darken(#4dd599, 6%);
  }

  &:active {
    background-color: darken(#4dd599, 10%);
  }
}

.field {
  width: 100%;
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 8px 12px;

  &:focus {
    border-color: #dbdbdb;
  }
}
