// reset styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  transition: all 0.1s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  width: calc(100svw - 100px);
  height: calc(100svh - 100px);
  display: flex;
  box-shadow: 1px 2px 20px #ebebeb;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  font-size: 14px;
  margin: auto;
  margin-top: 5svh;

  &__sidebar {
    width: 200px;
    height: 100%;
    background-color: #f4f6f8;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }

  &__tasks {
    flex: 1;
    padding: 56px;
    overflow: auto;
  }
}

.button {
  background: #4dd599;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;

  &:hover,
  :focus {
    background-color: darken(#4dd599, 6%);
  }

  &:active {
    background-color: darken(#4dd599, 10%);
  }

  &--grey {
    background-color: #F4F6F8;
    color: #444444;

    &:hover {
      background-color: darken(#F4F6F8, 4%);
    }
    
    &:active {
      background-color: darken(#F4F6F8, 8%);
    }
  }
}

.field {
  width: 100%;
  background: #ffffff;
  font-size: 14px;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 8px 12px;

  &:focus {
    border-color: #dbdbdb;
  }
}
